<section class="todoapp">
    <header class="header">
        <div class="container">
            <h1>TODO APP</h1>
            <p>Add a new task</p>
            <input
            class="new-todo"
            placeholder="Type new todo"
            autofocus
            type="text"
            [formControl]="newTaskControl"
            (keydown.enter)="changeHandler()"
            />
        </div>
        </header>
        <div class="container todoapp-wrapper">
        <section class="main">
            <ul class="todo-list">
                <li 
                    (dblclick)="updateTaskEditingMode(i)" 
                    *ngFor="let task of filteredTasks(); index as i" 
                    [class.editing]="task.editing"
                    [class.completed]="task.completed"
                >
                    <div class="view">
                        <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(i)"/>
                        <label>{{ task.title }}</label>
                        <button class="destroy" (click)="deleteTask(i)"></button>
                    </div>
                    <input class="edit" (keydown.enter)="updateTaskText(i, $event)" [value]="task.title" />
                </li>
            </ul>
        </section>
        <footer class="footer">
            <span class="todo-count">
            <strong>{{ filteredTasks().length }}</strong>
            {{ filteredTasks().length === 1 ? 'item' : 'items' }} left
            </span>
            <ul class="filters">
                <li>
                    <a 
                        (click)="changeFilter('All')" 
                        [class.selected]="filter() === 'All'"
                    >
                        All
                    </a>
                </li>
                <li>
                    <a 
                        (click)="changeFilter('Pending')" 
                        [class.selected]="filter() === 'Pending'"
                    >
                        Pending
                    </a>
                </li>
                <li>
                    <a 
                        (click)="changeFilter('Completed')" 
                        [class.selected]="filter() === 'Completed'"
                    >
                        Completed
                    </a>
                </li>
            </ul>
            <button class="clear-completed" (click)="clearCompletedTasks()">Clear completed</button>
        </footer>
    </div>
</section>
